<p>
  edit-user works!
</p>

<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input  formControlName="fullName" placeholder="Full name" name="fullName" class="form-control" id="fullName">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input formControlName="username" placeholder="Username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
    </div>

    <button >save</button>
  </form>
</div>

<button (click)="backToUsers()">back</button>